.title{
   margin: 2%;
   background-color: rgb(252, 249, 228);
   padding: 1%;
   font-weight: bold;
}
.startbt{
    font-size: 40px;
}
.score{
    font-size: 40px;
}
.sc{
    font-size: 50px;
    font-weight: bold;
}
.bt{
    background-color: rgb(252, 249, 228);
    color: #dc3545;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 1%;
    font-size: 40px;
    border:  #dc3545 solid;

}
.bt:hover{
    color: rgb(252, 249, 228);
    background-color : #dc3545 ;
    transform: scale(1.1);
}
#res{
    font-size: 50px;
}